@import 'tailwindcss';
@import '@signozhq/tailwind-config/global.css';

.periscope-calendar-day {
	margin: 4px;

	button {
		cursor: pointer;
	}

	&[data-selected='true'] {
		button {
			background-color: var(--bg-robin-500);
			color: var(--bg-vanilla-100);

			&:hover {
				background-color: var(--bg-robin-500);
				color: var(--bg-vanilla-100);
			}
		}
	}

	&.periscope-calendar-disabled,
	&.periscope-calendar-hidden {
		button {
			cursor: not-allowed !important;
		}
	}
}
