@import '@signozhq/design-tokens/dist/style.css';

@plugin "tailwindcss-animate";

@variant dark (&:where(.dark, .dark *));

:root {
	--background: var(--bg-vanilla-200);
	--foreground: var(--text-ink-400);
	--card: var(--bg-vanilla-100);
	--card-foreground: var(--text-ink-400);
	--popover: var(--bg-vanilla-100);
	--popover-foreground: var(--text-ink-400);
	--primary: var(--bg-robin-500);
	--primary-foreground: var(--text-vanilla-100);
	--secondary: var(--bg-vanilla-300);
	--secondary-foreground: var(--text-slate-400);
	--muted: var(--bg-vanilla-300);
	--muted-foreground: var(--text-slate-50);
	--accent: var(--bg-aqua-100);
	--accent-foreground: var(--text-slate-400);
	--destructive: var(--bg-cherry-500);
	--destructive-foreground: var(--text-vanilla-100);
	--border: var(--bg-vanilla-400);
	--input: var(--bg-vanilla-400);
	--ring: var(--bg-robin-500);
	--chart-1: var(--bg-robin-500);
	--chart-2: var(--bg-robin-600);
	--chart-3: var(--bg-slate-300);
	--chart-4: var(--bg-slate-400);
	--chart-5: var(--bg-slate-500);
	--radius: 0.25rem;
	--sidebar: var(--bg-vanilla-300);
	--sidebar-foreground: var(--text-ink-400);
	--sidebar-primary: var(--bg-robin-500);
	--sidebar-primary-foreground: var(--text-vanilla-100);
	--sidebar-accent: var(--bg-aqua-100);
	--sidebar-accent-foreground: var(--text-slate-400);
	--sidebar-border: var(--bg-slate-400);
	--sidebar-ring: var(--bg-robin-500);
	--font-sans: 'Inter';
	--font-serif: 'Open Sans';
	--font-mono: 'Geist Mono';
}

.dark {
	--background: var(--bg-ink-500);
	--foreground: var(--text-vanilla-400);
	--card: var(--bg-ink-400);
	--card-foreground: var(--text-vanilla-100);
	--popover: var(--bg-ink-400);
	--popover-foreground: var(--text-vanilla-100);
	--primary: var(--bg-robin-500);
	--primary-foreground: var(--text-ink-500);
	--secondary: var(--bg-slate-500);
	--secondary-foreground: var(--text-vanilla-400);
	--muted: var(--bg-slate-500);
	--muted-foreground: var(--text-vanilla-400);
	--accent: var(--bg-slate-300);
	--accent-foreground: var(--text-vanilla-100);
	--destructive: var(--bg-cherry-500);
	--destructive-foreground: var(--text-ink-500);
	--border: var(--bg-slate-400);
	--input: var(--bg-slate-300);
	--ring: var(--bg-robin-500);
	--chart-1: var(--bg-robin-400);
	--chart-2: var(--bg-robin-500);
	--chart-3: var(--bg-robin-600);
	--chart-4: var(--bg-slate-200);
	--chart-5: var(--bg-slate-300);
	--sidebar: var(--bg-slate-500);
	--sidebar-foreground: var(--text-vanilla-400);
	--sidebar-primary: var(--bg-robin-500);
	--sidebar-primary-foreground: var(--text-ink-500);
	--sidebar-accent: var(--bg-slate-400);
	--sidebar-accent-foreground: var(--text-vanilla-400);
	--sidebar-border: var(--bg-slate-500);
	--sidebar-ring: var(--bg-robin-500);
}

@theme {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-card: var(--card);
	--color-card-foreground: var(--card-foreground);
	--color-popover: var(--popover);
	--color-popover-foreground: var(--popover-foreground);
	--color-primary: var(--primary);
	--color-primary-foreground: var(--primary-foreground);
	--color-secondary: var(--secondary);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-muted: var(--muted);
	--color-muted-foreground: var(--muted-foreground);
	--color-accent: var(--accent);
	--color-accent-foreground: var(--accent-foreground);
	--color-destructive: var(--destructive);
	--color-destructive-foreground: var(--destructive-foreground);
	--color-border: var(--border);
	--color-input: var(--input);
	--color-ring: var(--ring);
	--color-chart-1: var(--chart-1);
	--color-chart-2: var(--chart-2);
	--color-chart-3: var(--chart-3);
	--color-chart-4: var(--chart-4);
	--color-chart-5: var(--chart-5);
	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);
	--color-sidebar: var(--sidebar);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-ring: var(--sidebar-ring);
	--font-sans: var(--font-sans);
	--font-serif: var(--font-serif);
	--font-mono: var(--font-mono);
}

@layer base {
	* {
		@apply border-border outline-ring/50;
	}
	body {
		@apply bg-background text-foreground;
	}
}

[data-theme-color='blue'] {
	--primary: var(--bg-robin-500);
	--primary-foreground: var(--text-vanilla-100);
	--ring: var(--bg-robin-500);
	--sidebar-primary: var(--bg-robin-500);
	--sidebar-ring: var(--bg-robin-500);
}

.dark[data-theme-color='blue'] {
	--primary: var(--bg-robin-400);
	--primary-foreground: var(--text-ink-500);
	--ring: var(--bg-robin-400);
	--sidebar-primary: var(--bg-robin-400);
	--sidebar-ring: var(--bg-robin-400);
}

[data-theme-color='green'] {
	--primary: var(--bg-forest-500);
	--primary-foreground: var(--text-vanilla-100);
	--ring: var(--bg-forest-500);
	--sidebar-primary: var(--bg-forest-500);
	--sidebar-ring: var(--bg-forest-500);
}

.dark[data-theme-color='green'] {
	--primary: var(--bg-forest-400);
	--primary-foreground: var(--text-ink-500);
	--ring: var(--bg-forest-400);
	--sidebar-primary: var(--bg-forest-400);
	--sidebar-ring: var(--bg-forest-400);
}

[data-theme-color='amber'] {
	--primary: var(--bg-amber-500);
	--primary-foreground: var(--text-vanilla-100);
	--ring: var(--bg-amber-500);
	--sidebar-primary: var(--bg-amber-500);
	--sidebar-ring: var(--bg-amber-500);
}

.dark[data-theme-color='amber'] {
	--primary: var(--bg-amber-400);
	--primary-foreground: var(--text-ink-500);
	--ring: var(--bg-amber-400);
	--sidebar-primary: var(--bg-amber-400);
	--sidebar-ring: var(--bg-amber-400);
}

[data-theme-color='cherry'] {
	--primary: var(--bg-cherry-500);
	--primary-foreground: var(--text-vanilla-100);
	--ring: var(--bg-cherry-500);
	--sidebar-primary: var(--bg-cherry-500);
	--sidebar-ring: var(--bg-cherry-500);
}

.dark[data-theme-color='cherry'] {
	--primary: var(--bg-cherry-400);
	--primary-foreground: var(--text-ink-500);
	--ring: var(--bg-cherry-400);
	--sidebar-primary: var(--bg-cherry-400);
	--sidebar-ring: var(--bg-cherry-400);
}

[data-theme-color='aqua'] {
	--primary: var(--bg-aqua-500);
	--primary-foreground: var(--text-vanilla-100);
	--ring: var(--bg-aqua-500);
	--sidebar-primary: var(--bg-aqua-500);
	--sidebar-ring: var(--bg-aqua-500);
}

.dark[data-theme-color='aqua'] {
	--primary: var(--bg-aqua-400);
	--primary-foreground: var(--text-ink-500);
	--ring: var(--bg-aqua-400);
	--sidebar-primary: var(--bg-aqua-400);
	--sidebar-ring: var(--bg-aqua-400);
}
