.columnLayout {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.sectionGapLarge {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.marginTopMedium {
  margin-top: 1rem;
}

.matrix {
  display: grid;
  grid-template-columns: max-content repeat(var(--matrix-columns), max-content);
  gap: 0.75rem 1.25rem;
  align-items: center;
  justify-items: start;
  overflow-x: auto;
  padding-bottom: 4px;
}

.matrixLabel {
  white-space: nowrap;
}

.overflowGrid {
  display: grid;
  grid-template-columns: max-content 12rem minmax(0, 1fr);
  gap: 8rem 1.5rem;
  padding-block-start: 4rem;
  align-items: center;
}
